
<!DOCTYPE html>
<html>
<head>
	<title>Add cat</title>
</head>
<body>
	<h1>Add a new cat</h1>
	<a class="btn btn-primary">Add cat</a>
	<form action="/Add_cat" method="POST">
		kitty name <input type="text" name="kitty name" placeholder="Cat Name" id="cat_name">
		<br>
		kitty bday <input type="text" name="kitty bday" placeholder="birthday">
		<br>
		kitty's fav food <input type="text" name="food" placeholder="fav food">
		<br>
		<input type="submit" name="submit" value="submit">
		
	</form>

</body>
</html>